backend:
  name: github
  repo: MalinG/ccquest

media_folder: static/assets
public_folder: /assets

collections:
  - name: post
    label: Posts
    folder: src/posts
    create: true
    fields:
      - { name: title, label: Title }
      - { name: date, label: Create At, widget: date }
      - { name: body, label: Post, widget: markdown }
      - { name: image, label: Image, widget: image }
  - name: task
    label: Tasks
    folder: src/tasks
    create: true
    fields:
      - { name: title, label: Title }
      - { name: points, label: Points }
  - name: people
    label: People
    folder: src/people
    create: true
    fields:
      - { name: title, label: Name }
      - { name: age, label: Age }
      - { name: image, label: Image, widget: image }
      - { label: Tasks, name: tasks, widget: list, fields: [{label: Task, name: task, widget: string}, {label: Points, name: points, widget: string}] }